@tailwind base;
@tailwind components;
@tailwind utilities;


.hover-effect {
    transition: background-color 0.3s, backdrop-filter 0.3s;
    padding: 10px 10px 10px 10px;
    
  }
  
  .hover-effect:hover {
    background-color: rgba(155, 153, 153, 0.5); /* Blackish glassy background */
    backdrop-filter: blur(8px); /* Glassy effect */
    color: white; /* White text on hover */
  }
  

